In [939]:
import pandas as pd
import numpy as np

In [940]:
uncleaned_df = pd.read_csv('pl_transfers_uncleaned_2014_2024_real.csv')

In [941]:
uncleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8011 entries, 0 to 8010
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Team          8011 non-null   object
 1   Season        8011 non-null   object
 2   Time          8011 non-null   object
 3   Name          8011 non-null   object
 4   Status        8011 non-null   object
 5   Position      8011 non-null   object
 6   Market Value  8011 non-null   object
 7   Age           8011 non-null   object
 8   Fee           8011 non-null   object
dtypes: object(9)
memory usage: 563.4+ KB

In [942]:
uncleaned_df['Market Value'].unique()

array(['€6.00m', '€6.50m', '€2.50m', '€1.75m', '€1.00m', '€750k', '-',
       '€5.00m', '€1.50m', '€250k', '€100k', '€3.50m', '€300k', '€500k',
       '€50k', '€150k', '€7.00m', '€3.00m', '€15.00m', '€4.00m', '€400k',
       '€23.00m', '€4.50m', '€20.00m', '€8.00m', '€10.00m', '€2.00m',
       '€12.00m', '€9.00m', '€1.40m', '€75k', '€17.00m', '€200k',
       '€22.00m', '€700k', '€1.80m', '€18.00m', '€14.00m', '€16.00m',
       '€350k', '€2.20m', '€25.00m', '€30.00m', '€7.50m', '€13.00m',
       '€35.00m', '€1.20m', '€40.00m', '€65.00m', '€450k', '€70.00m',
       '€12.50m', '€2.40m', '€4.80m', '€22.50m', '€2.70m', '€32.00m',
       '€28.00m', '€27.00m', '€50.00m', '€800k', '€90.00m', '€55.00m',
       '€42.00m', '€11.00m', '€5.50m', '€1.25m', '€900k', '€1.30m',
       '€9.50m', '€21.50m', '€3.20m', '€2.80m', '€650k', '€4.20m',
       '€600k', '€45.00m', '€550k', '€2.90m', '€275k', '€8.50m', '€1.70m',
       '€3.60m', '€1.60m', '€2.30m', '€75.00m', '€25k', '€1.10m',
       '€3.80m', '€325k', '€2.25m', '€26.00m', '€60.00m', '€2.75m',
       '€150.00m', '€81.00m', '€64.00m', '€36.00m', '€25.50m', '€24.00m',
       '€100.00m', '€38.00m', '€80.00m', '€850k', '€525k', '€10.50m',
       '€5.80m', '€48.00m', '€21.00m', '€52.00m', '€17.50m', '€14.50m',
       '€175k', '€6.70m', '€950k', '€2.60m', '€475k', '€44.00m', '€6.30m',
       '€19.00m', '€125k', '€5.40m', '€3.30m', '€13.50m', '€7.20m',
       '€575k', '€4.75m', '€225k', '€1.90m'], dtype=object)

In [ ]:
# Replace special characters with empty values. Change strings with 'k' or 'm' into float in thousands or millions.

uncleaned_df['Market Value'] = uncleaned_df['Market Value'].str.replace('€', '')
uncleaned_df['Market Value'] = uncleaned_df['Market Value'].str.replace('-', '0')
uncleaned_df.loc[uncleaned_df['Market Value'].str.find('m') >= 1, 'Market Value'] = uncleaned_df[uncleaned_df['Market Value'].str.find('m') >= 1]['Market Value'].str.replace('m', '').astype(float) * 1000000
uncleaned_df.loc[uncleaned_df['Market Value'].str.find('k') >= 1, 'Market Value'] = uncleaned_df[uncleaned_df['Market Value'].str.find('k') >= 1]['Market Value'].str.replace('k', '').astype(float) * 1000

In [944]:
uncleaned_df['Market Value'] = uncleaned_df['Market Value'].astype(float)

In [945]:
uncleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8011 entries, 0 to 8010
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Team          8011 non-null   object
 1   Season        8011 non-null   object
 2   Time          8011 non-null   object
 3   Name          8011 non-null   object
 4   Status        8011 non-null   object
 5   Position      8011 non-null   object
 6   Market Value  8011 non-null   float64
 7   Age           8011 non-null   object
 8   Fee           8011 non-null   object
dtypes: float64(1), object(8)
memory usage: 563.4+ KB

In [ ]:
# Impute unknown Ages (values of '-') with mean.
uncleaned_df['Age'] = uncleaned_df['Age'].str.replace('-', str(uncleaned_df[uncleaned_df['Age'].str.isnumeric()]['Age'].astype(int).mean().astype(int)))

In [947]:
uncleaned_df['Age'] = uncleaned_df['Age'].astype(int)

In [948]:
uncleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8011 entries, 0 to 8010
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Team          8011 non-null   object
 1   Season        8011 non-null   object
 2   Time          8011 non-null   object
 3   Name          8011 non-null   object
 4   Status        8011 non-null   object
 5   Position      8011 non-null   object
 6   Market Value  8011 non-null   float64
 7   Age           8011 non-null   int64
 8   Fee           8011 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 563.4+ KB

In [949]:
uncleaned_df[~uncleaned_df['Fee'].str.isnumeric()]['Fee'].unique()

array(['€11.30m', '€10.00m', '€5.40m', '€4.30m', 'free transfer',
       'loan transfer', '-', 'End of loan\nMay 31, 2016',
       'End of loan\nMay 17, 2016', 'End of loan\nMay 9, 2016',
       'End of loan\nOct 1, 2015', 'End of loan\nSep 18, 2015',
       'End of loan\nSep 7, 2015', 'End of loan\nJun 30, 2015',
       'End of loan\nSep 6, 2015', '?', '€13.30m', '€9.35m',
       'Loan fee:\n€1.20m', '€260k', 'End of loan\nDec 28, 2015',
       'End of loan\nJan 3, 2016', '€650k', 'End of loan\nFeb 1, 2016',
       'End of loan\nJan 2, 2016', 'End of loan\nJan 4, 2016', '€18.00m',
       '€7.00m', '€6.50m', '€3.60m', 'Loan fee:\n€2.35m', '€2.30m',
       'End of loan\nMay 31, 2017', 'End of loan\nJun 30, 2016',
       '€12.00m', '€3.90m', '€3.50m', '€500k', '€290k',
       'End of loan\nAug 8, 2018', '€940k', 'End of loan\nJan 30, 2017',
       'End of loan\nJan 1, 2017', 'End of loan\nJan 3, 2017',
       'End of loan\nJan 2, 2017', 'End of loan\nJan 8, 2017', '€22.80m',
       '€11.50m', 'End of loan\nJun 30, 2017',
       'End of loan\nSep 11, 2017', 'End of loan\nMay 31, 2018',
       'End of loan\nJan 8, 2018', 'End of loan\nJan 5, 2018',
       'End of loan\nJan 10, 2018', '€30.50m', '€15.00m',
       'End of loan\nMay 31, 2019', 'End of loan\nJun 30, 2018',
       '€11.40m', '€6.80m', '€2.00m', '€21.20m', '€13.60m',
       'End of loan\nJul 9, 2019', '€16.50m', '€16.46m', '€14.80m',
       '€4.45m', 'Loan fee:\n€2.70m', 'End of loan\nMay 31, 2020',
       '€22.30m', '€11.10m', '€1.10m', 'End of loan\nDec 31, 2019',
       'End of loan\nJan 1, 2020', 'Loan fee:\n€125k', '€11.90m',
       'End of loan\nMay 31, 2023', '€22.70m', '€22.50m', '€10.25m',
       'Loan fee:\n€750k', 'End of loan\nJan 30, 2023', '€26.90m',
       '€25.62m', '€23.00m', '€17.87m', '€10.80m', '€8.10m',
       'End of loan\nMay 31, 2024', 'End of loan\nJun 30, 2023',
       'End of loan\nOct 27, 2023', '€1.50m', 'End of loan\nJan 10, 2024',
       'End of loan\nJan 31, 2024', '€42.50m', '€20.23m', '€20.00m',
       '€4.00m', 'End of loan\nMay 4, 2015', 'End of loan\nMay 31, 2015',
       'End of loan\nJun 30, 2014', '€19.00m', '€2.80m', '€1.90m',
       '€14.00m', '€2.50m', '€12.50m', 'End of loan\nJan 31, 2016',
       '€45.00m', '€41.00m', '€3.00m', '€5.00m',
       'End of loan\nApr 5, 2017', '€53.00m', '€38.00m', '€18.40m',
       '€11.00m', '€7.50m', '€63.75m', '€34.00m', '€2.10m', '€17.00m',
       '€28.65m', '€25.00m', '€16.00m', '€8.00m', '€4.40m', '€2.20m',
       'Loan fee:\n€1.00m', 'Loan fee:\n€2.50m', '€80.00m', '€30.00m',
       '€27.00m', '€8.70m', '€7.10m', 'End of loan\nJul 12, 2020',
       'End of loan\nJun 30, 2019', '€30.40m', '€8.20m',
       'Loan fee:\n€3.10m', '€1.00m', '€250k', 'Loan fee:\n€8.00m',
       'End of loan\nJan 2, 2020', '€50.00m', '€26.00m', '€6.00m',
       'End of loan\nMay 31, 2021', 'End of loan\nJun 30, 2020',
       'End of loan\nJul 31, 2020', 'End of loan\nAug 31, 2020',
       'End of loan\nAug 3, 2020', '€17.40m', 'Loan fee:\n€2.00m',
       'End of loan\nJan 31, 2021', '€58.50m', '€35.00m', '€28.00m',
       '€18.60m', '€17.50m', 'End of loan\nJun 30, 2021', '€29.40m',
       'Loan fee:\n€1.50m', '€1.80m', 'End of loan\nDec 31, 2021',
       'Loan fee:\n€500k', '€52.20m', '€5.90m',
       'End of loan\nJul 14, 2022', 'End of loan\nJun 30, 2022', '€3.20m',
       '€24.00m', '€19.50m', 'End of loan\nJan 15, 2023', '€116.60m',
       '€75.00m', '€40.00m', 'Loan fee:\n€3.50m', '€8.15m', '€6.20m',
       '€5.80m', 'Loan fee:\n€1.40m', '€1.20m', 'Loan fee:\n€1.15m',
       'Loan fee:\n€300k', 'End of loan\nJan 12, 2024', '€2.25m',
       'End of loan\nJan 3, 2015', 'End of loan\nDec 12, 2014',
       'Loan fee:\n€600k', '€4.20m', 'End of loan\nDec 30, 2014',
       'End of loan\nFeb 19, 2015', 'End of loan\nFeb 1, 2015',
       'End of loan\nJan 5, 2015', 'End of loan\nNov 3, 2014',
       'End of loan\nNov 9, 2014', 'End of loan\nNov 25, 2014',
       'End of loan\nDec 31, 2014', 'End of loan\nJan 7, 2015', '€65k',
       '€750k', 'End of loan\nMay 11, 2015', 'End of loan\nOct 22, 2014',
       'End of loan\nOct 30, 2014', '€700k', '€300k', '€9.00m', '€8.50m',
       '€1.40m', '€800k', 'Loan fee:\n€350k', 'End of loan\nSep 21, 2015',
       '€46.50m', '€3.80m', 'End of loan\nJan 1, 2016',
       'End of loan\nMar 18, 2016', '€16.80m', '€15.50m', '€8.80m',
       '€4.50m', '€3.40m', '€10.50m', 'Loan fee:\n€400k',
       'End of loan\nJan 28, 2020', '€15.75m',
       'End of loan\nJul 23, 2020', '€2.77m', '€15.80m', '€38.40m',
       '€32.00m', 'End of loan\nMay 31, 2022', '€117.50m',
       'End of loan\nJan 6, 2022', '€31.00m', 'End of loan\nJul 23, 2022',
       '€29.50m', '€13.50m', 'End of loan\nJan 2, 2023',
       'End of loan\nJan 31, 2023', 'End of loan\nJan 29, 2023',
       'End of loan\nJan 23, 2023', '€55.00m', '€33.00m',
       'Loan fee:\n€5.00m', '€21.55m', '€2.90m', '€9.40m', '€7.60m',
       'Loan fee:\n€608k', '€15.70m', 'End of loan\nJan 4, 2022',
       '€14.25m', 'End of loan\nJan 5, 2023', 'End of loan\nJan 19, 2023',
       'End of loan\nJan 1, 2023', 'End of loan\nJan 17, 2023', '€26.85m',
       '€13.00m', 'End of loan\nJan 8, 2024', '€600k',
       'End of loan\nSep 1, 2017', 'End of loan\nMay 14, 2018', '€400k',
       'End of loan\nSep 19, 2017', 'End of loan\nNov 15, 2017',
       'End of loan\nJan 2, 2018', '€3.55m', '€860k', '€110k',
       'End of loan\nJan 9, 2019', 'End of loan\nJan 1, 2019',
       'End of loan\nJan 3, 2019', '€1.70m', 'Loan fee:\n€220k',
       '€22.22m', '€15.56m', 'End of loan\nJun 2, 2019',
       'Loan fee:\n€4.50m', 'Loan fee:\n€700k', '€3.30m',
       'End of loan\nJan 19, 2020', 'End of loan\nJan 5, 2020',
       'End of loan\nJan 31, 2020', 'End of loan\nJan 23, 2020',
       'End of loan\nJan 30, 2020', 'End of loan\nMay 7, 2021',
       'End of loan\nAug 5, 2020', 'End of loan\nJul 24, 2020',
       'End of loan\nJul 26, 2020', '€11.70m', 'Loan fee:\n€2.20m',
       '€28.20m', 'End of loan\nJan 7, 2021', 'End of loan\nJan 14, 2021',
       'End of loan\nDec 31, 2020', 'End of loan\nJan 17, 2021',
       'End of loan\nJan 18, 2022', 'End of loan\nJan 12, 2022',
       '€17.80m', '€11.60m', '€8.30m', '€65.30m', '€29.20m', '€11.80m',
       '€5.50m', '€2.60m', '€34.20m', '€116.00m', '€42.00m', '€2.75m',
       '€1.35m', '€1.30m', '€9.15m', 'End of loan\nJan 1, 2024',
       'End of loan\nJan 4, 2024', '€3.10m', '€630k',
       'End of loan\nSep 28, 2014', 'End of loan\nOct 19, 2014', '€8.60m',
       'End of loan\nJan 12, 2017', 'End of loan\nSep 12, 2016',
       '€15.10m', 'End of loan\nJan 29, 2017',
       'End of loan\nJan 14, 2017', '€16.40m', '€9.10m', '€840k',
       '€28.50m', '€20.40m', 'End of loan\nJan 4, 2018',
       'End of loan\nDec 7, 2017', 'End of loan\nJan 6, 2018',
       'End of loan\nJan 30, 2018', '€16.90m', '€12.20m',
       'End of loan\nMay 1, 2019', 'End of loan\nJan 29, 2019',
       'End of loan\nDec 31, 2018', 'End of loan\nJan 27, 2020', '€4.75m',
       'End of loan\nJan 6, 2020', 'Loan fee:\n€2.30m', '€9.30m',
       '€17.30m', '€16.45m', '€13.90m', '€7.80m',
       'End of loan\nDec 31, 2023', 'End of loan\nJan 14, 2024', '€2.56m',
       'End of loan\nNov 22, 2014', 'End of loan\nJan 4, 2015',
       'End of loan\nApr 30, 2015', 'End of loan\nJan 2, 2015',
       'End of loan\nJan 11, 2015', '€11.35m', '€3.45m',
       'End of loan\nJan 27, 2019', 'End of loan\nJan 5, 2019', '€13.20m',
       'End of loan\nMay 21, 2015', 'End of loan\nMay 25, 2015',
       'End of loan\nMay 7, 2014', '€49.50m', '€35.36m',
       'Loan fee:\n€800k', 'Loan fee:\n€250k', 'Loan fee:\n€200k',
       'Loan fee:\n€7.00m', 'Loan fee:\n€1.80m', '€1.04m', '€4.60m',
       'End of loan\nApr 28, 2016', 'End of loan\nApr 29, 2016',
       'End of loan\nDec 31, 2015', 'End of loan\nJan 6, 2016', '€39.00m',
       '€35.80m', 'End of loan\nJun 12, 2016', '€9.50m',
       'End of loan\nDec 12, 2016', '€60.00m', '€6.90m', '€66.00m',
       '€37.90m', 'End of loan\nMay 17, 2018', '€44.70m',
       'Loan fee:\n€7.80m', '€6.30m', 'End of loan\nDec 31, 2017',
       '€57.00m', 'Loan fee:\n€7.90m', 'Loan fee:\n€3.00m', '€64.00m',
       'End of loan\nJan 30, 2019', 'End of loan\nJan 24, 2019',
       'End of loan\nNov 16, 2018', 'End of loan\nJan 8, 2019',
       'End of loan\nJan 28, 2019', 'Loan fee:\n€18.00m', '€120.80m',
       '€9.80m', 'Loan fee:\n€650k', 'End of loan\nJan 22, 2020',
       'End of loan\nJan 16, 2020', 'Loan fee:\n€216k', '€50.20m',
       'End of loan\nAug 4, 2020', '€14.50m', 'Loan fee:\n€1.75m',
       '€113.00m', '€35.30m', '€23.34m', '€4.80m', 'Loan fee:\n€150k',
       'End of loan\nJan 13, 2022', '€80.40m', '€56.20m', '€41.90m',
       '€14.86m', '€9.09m', '€15.40m', 'Loan fee:\n€7.86m', '€121.00m',
       '€70.00m', 'Loan fee:\n€11.00m', 'End of loan\nDec 31, 2022',
       '€62.10m', '€47.00m', '€37.00m', '€64.20m', '€29.10m', '€20.80m',
       '€18.90m', '€18.50m', 'Loan fee:\n€5.80m', 'Loan fee:\n€2.80m',
       'End of loan\nJan 11, 2024', 'End of loan\nJan 19, 2024',
       'End of loan\nJan 3, 2024', 'End of loan\nJan 22, 2024',
       'Loan fee:\n€4.70m', 'End of loan\nApr 22, 2015',
       'End of loan\nFeb 10, 2015', 'End of loan\nFeb 26, 2015',
       'End of loan\nJan 20, 2015', 'End of loan\nJan 19, 2015',
       'End of loan\nJan 28, 2015', '€6.34m', '€5.30m', '€40k',
       'End of loan\nJan 10, 2015', 'End of loan\nApr 21, 2015',
       'End of loan\nJan 1, 2015', 'End of loan\nNov 23, 2014',
       'End of loan\nDec 10, 2014', 'End of loan\nMar 14, 2015',
       'End of loan\nMar 15, 2015', 'End of loan\nJan 6, 2015',
       'End of loan\nDec 28, 2014', '€1.07m', '€1.14m',
       'End of loan\nMay 2, 2015', 'End of loan\nMay 1, 2015',
       'End of loan\nJun 1, 2014', '€4.90m', 'End of loan\nOct 18, 2015',
       'End of loan\nSep 14, 2015', 'End of loan\nJan 12, 2016',
       'End of loan\nFeb 13, 2016', '€31.20m', '€15.60m', '€28.90m',
       '€4.70m', '€13.80m', 'End of loan\nDec 29, 2016',
       'End of loan\nJan 16, 2017', 'End of loan\nJan 15, 2018',
       '€10.70m', 'End of loan\nJan 31, 2019',
       'End of loan\nAug 29, 2019', 'Loan fee:\n€375k',
       'End of loan\nJan 12, 2020', 'End of loan\nMar 5, 2020',
       'End of loan\nSep 21, 2020', 'End of loan\nMay 1, 2021', '€16.30m',
       '€1.18m', 'End of loan\nJan 7, 2022', 'End of loan\nJan 30, 2022',
       '€22.60m', '€5.46m', '€21.10m', 'End of loan\nAug 17, 2014',
       '€17.90m', 'End of loan\nJan 16, 2016', 'End of loan\nNov 7, 2015',
       'End of loan\nApr 14, 2016', 'End of loan\nApr 22, 2016',
       'End of loan\nMay 10, 2017', '€55.60m', 'End of loan\nApr 9, 2017',
       '€49.40m', '€84.70m', '€280k', '€39.20m', '€30.25m', '€20.20m',
       'Loan fee:\n€2.25m', 'End of loan\nJan 21, 2019', '€27.50m',
       'End of loan\nApr 22, 2020', '€24.60m', '€22.00m', '€270k',
       'End of loan\nOct 11, 2020', 'End of loan\nJul 20, 2020', '€2.23m',
       '€23.50m', '€39.87m', '€10.40m', '€58.00m',
       'End of loan\nJan 8, 2023', 'End of loan\nJan 13, 2023', '€45.60m',
       '€25.70m', 'End of loan\nFeb 18, 2015',
       'End of loan\nApr 19, 2015', '€24.85m', '€24.70m', '€16.85m',
       '€6.70m', 'End of loan\nJan 2, 2019', '€850k', '€1.65m',
       'End of loan\nFeb 11, 2021', '€24.90m',
       'End of loan\nJan 10, 2023', '€6.40m', '€870k', '€52.60m',
       '€2.70m', '€455k', '€12.35m', 'End of loan\nJan 11, 2018',
       '€11.20m', '€330k', 'End of loan\nJan 10, 2019', '€3.96m',
       'End of loan\nJan 23, 2015', 'End of loan\nMar 2, 2015',
       'End of loan\nFeb 2, 2015', 'End of loan\nDec 22, 2014',
       'End of loan\nNov 13, 2014', '€3.15m', '€1.95m', '€257k',
       'End of loan\nMay 18, 2015', 'End of loan\nSep 22, 2014',
       '€14.90m', '€4.10m', '€200k', 'Loan fee:\n€1.30m',
       'End of loan\nJan 5, 2017', '€21.00m', '€17.70m', '€12.80m',
       '€2.40m', '€32.84m', '€49.00m', 'Loan fee:\n€4.80m', '€40.50m',
       'Loan fee:\n€1.25m', 'End of loan\nMar 24, 2023', '€10.10m',
       '€1.26m', 'End of loan\nMay 10, 2015', 'End of loan\nSep 5, 2014',
       'End of loan\nOct 2, 2014', 'End of loan\nSep 30, 2015',
       'End of loan\nAug 4, 2015', '€5.60m', '€6.60m', '€5.10m',
       'End of loan\nNov 17, 2015', 'End of loan\nNov 15, 2015',
       'End of loan\nJan 10, 2016', '€1.15m', '€17.60m',
       'End of loan\nJan 24, 2017', '€27.70m', '€20.50m', '€13.70m',
       '€145k', '€67.80m', 'End of loan\nJan 11, 2019',
       'End of loan\nApr 2, 2019', '€33.40m', '€19.20m', '€87.00m',
       '€20.90m', '€1.57m', 'End of loan\nJan 6, 2021',
       'End of loan\nJan 1, 2021', 'End of loan\nJan 5, 2021',
       'End of loan\nNov 24, 2021', 'End of loan\nJan 7, 2023',
       'End of loan\nApr 18, 2015', 'End of loan\nApr 24, 2015',
       'End of loan\nApr 2, 2015', 'End of loan\nDec 21, 2014',
       'End of loan\nFeb 7, 2015', '€25.30m', '€12.63m', '€81.72m',
       '€1.25m', '€63.70m', 'End of loan\nJul 9, 2015',
       'End of loan\nJan 8, 2016', 'End of loan\nJan 7, 2016', '€41.20m',
       '€480k', 'End of loan\nNov 22, 2016', 'End of loan\nJan 22, 2017',
       'Loan fee:\n€6.50m', '€5.70m', '€84.65m', '€135.00m', '€62.50m',
       '€14.70m', 'End of loan\nMay 20, 2019', '€1.52m',
       'Loan fee:\n€1.10m', 'End of loan\nDec 15, 2018',
       'End of loan\nMay 4, 2020', '€25.10m', '€7.20m',
       'End of loan\nJul 14, 2020', '€1.85m', '€8.55m', '€54.00m',
       'End of loan\nJan 20, 2022', 'Loan fee:\n€2.10m', '€85.00m',
       '€46.70m', 'End of loan\nJan 15, 2024', 'End of loan\nFeb 1, 2024',
       'End of loan\nJan 30, 2015', 'End of loan\nJan 15, 2015',
       'End of loan\nApr 20, 2015', 'End of loan\nApr 26, 2015', '€5.85m',
       'End of loan\nMay 8, 2024', 'End of loan\nJan 2, 2024',
       'End of loan\nJan 9, 2024', '€32.30m', '€76.00m', '€44.50m',
       '€550k', 'Loan fee:\n€4.00m', 'Loan fee:\n€436k', '€320k',
       'End of loan\nJan 29, 2016', 'End of loan\nDec 21, 2015',
       '€52.00m', 'End of loan\nJul 26, 2017',
       'End of loan\nDec 31, 2016', 'End of loan\nJan 15, 2017',
       '€57.50m', '€52.70m', 'End of loan\nMay 21, 2018', '€65.00m',
       'End of loan\nJan 31, 2018', '€890k', 'End of loan\nAug 22, 2018',
       '€6.82m', 'End of loan\nJul 2, 2019', '€71.60m', '€45.30m',
       '€33.50m', 'End of loan\nJan 25, 2021', '€21.40m',
       'End of loan\nJan 1, 2022', 'End of loan\nJan 10, 2022',
       'End of loan\nFeb 1, 2022', 'End of loan\nJan 25, 2022',
       'End of loan\nJul 7, 2022', '€8.77m', '€90.00m', '€62.00m',
       'End of loan\nJan 5, 2024', 'End of loan\nApr 28, 2015', '€37.50m',
       '€36.00m', 'Loan fee:\n€7.60m', '€1.75m',
       'End of loan\nMay 16, 2016', '€63.00m', '€1.67m',
       'End of loan\nJan 23, 2016', '€105.00m', '€5.25m',
       'End of loan\nFeb 2, 2017', '€59.00m', '€7.35m', '€74.00m',
       '€2.48m', 'Loan fee:\n€12.00m', 'End of loan\nJan 9, 2020',
       '€8.65m', '€21.30m', 'End of loan\nJan 30, 2021',
       'End of loan\nJan 29, 2021', 'End of loan\nApr 19, 2021',
       '€95.00m', '€70.65m', '€57.37m', 'Loan fee:\n€2.96m', '€73.90m',
       'Loan fee:\n€10.00m', '€9.74m', '€8.25m', '€5.20m',
       'End of loan\nJan 4, 2017', 'End of loan\nJan 26, 2015', '€6.32m',
       'End of loan\nOct 21, 2014', 'End of loan\nSep 7, 2014',
       'Loan fee:\n€1.26m', 'Loan fee:\n€160k', '€100k', '€18.35m',
       '€360k', 'End of loan\nOct 11, 2015', 'End of loan\nJun 1, 2015',
       '€3.70m', 'End of loan\nDec 23, 2015', 'End of loan\nDec 1, 2015',
       'End of loan\nFeb 29, 2016', '€120k', 'End of loan\nJan 1, 2018',
       'End of loan\nApr 11, 2018', '€4.66m', 'Loan fee:\n€900k', '€390k',
       'End of loan\nMar 13, 2019', '€43.50m', '€2.24m',
       'End of loan\nJan 13, 2020', '€22.25m', '€780k', '€42.10m',
       'Loan fee:\n€157k', '€58.90m', '€44.00m', '€37.20m', '€27.20m',
       '€9.90m', '€140k', '€2.95m', '€2.65m', 'End of loan\nApr 23, 2016',
       'End of loan\nFeb 21, 2016', 'End of loan\nFeb 4, 2016',
       'End of loan\nJan 17, 2016', 'End of loan\nNov 3, 2015', '€830k',
       '€335k', '€4.15m', 'End of loan\nJan 7, 2020',
       'End of loan\nMar 29, 2020', 'End of loan\nJan 24, 2020',
       'End of loan\nMar 9, 2020', 'End of loan\nJan 16, 2022',
       'End of loan\nFeb 12, 2022', 'End of loan\nJan 29, 2022', '€950k',
       'End of loan\nJan 4, 2023', '€12.85m', '€6.65m',
       'End of loan\nJul 16, 2023', '€420k', 'End of loan\nJan 23, 2024',
       'Loan fee:\n€11.70m', '€68k', 'End of loan\nJan 24, 2015',
       'End of loan\nDec 7, 2014', '€10.75m', '€7.57m',
       'End of loan\nOct 7, 2014', 'End of loan\nSep 23, 2014',
       'End of loan\nJul 26, 2014', '€19.10m', '€150k', '€3.85m',
       'End of loan\nJan 11, 2021', 'End of loan\nDec 29, 2023',
       'End of loan\nAug 31, 2014', 'Loan fee:\n€1.70m',
       'End of loan\nFeb 18, 2016', 'End of loan\nJan 11, 2016',
       '€18.70m', '€15.25m', '€14.40m', '€9.20m', '€17.25m',
       'End of loan\nJan 25, 2018', '€7.95m', 'End of loan\nJan 7, 2019',
       '€16.70m', '€16.60m', 'End of loan\nJan 16, 2021', '€26.20m',
       'End of loan\nJan 5, 2022', '€22.26m', '€13.65m', '€5.75m',
       'End of loan\nFeb 11, 2015', 'End of loan\nJan 25, 2015',
       'End of loan\nDec 11, 2014', '€24.25m', '€3.62m', '€295k',
       'End of loan\nJan 9, 2017', '€19.40m', '€7.70m', '€3.12m',
       'End of loan\nSep 8, 2014', '€3.25m', '€2.85m',
       'End of loan\nNov 26, 2015', '€900k', 'End of loan\nFeb 1, 2017',
       '€4.72m', 'End of loan\nMar 9, 2015', 'End of loan\nFeb 17, 2015',
       'End of loan\nDec 17, 2014', 'End of loan\nApr 17, 2015', '€1.89m',
       '€12.65m', '€350k', '€210k', 'End of loan\nSep 8, 2015', '€705k',
       'End of loan\nJan 5, 2016', 'End of loan\nDec 25, 2015',
       'End of loan\nDec 19, 2015', 'End of loan\nNov 27, 2015',
       'End of loan\nJan 30, 2016', 'Loan fee:\n€100k', '€24.10m',
       'Loan fee:\n€8.50m', '€285k', 'End of loan\nJan 3, 2018', '€6.63m',
       '€14.10m', '€8.90m', '€15.20m', '€28.40m',
       'End of loan\nFeb 10, 2008', 'Loan fee:\n€16.00m', '€12.10m',
       'Loan fee:\n€1.42m', '€31.25m', 'End of loan\nAug 29, 2022',
       '€46.30m', 'End of loan\nDec 27, 2023',
       'End of loan\nJan 17, 2024', '€8.40m', '€4.12m', '€430k',
       'End of loan\nAug 19, 2015', '€10.60m',
       'End of loan\nNov 30, 2015', 'End of loan\nJan 26, 2016', '€6.95m',
       'End of loan\nJun 28, 2016', 'End of loan\nJun 29, 2016',
       'End of loan\nNov 30, 2016', '€23.30m', '€12.40m',
       'End of loan\nFeb 5, 2018', 'Loan fee:\n€240k',
       'End of loan\nFeb 20, 2019', '€440k', 'End of loan\nJan 31, 2022',
       'End of loan\nApr 26, 2022', 'End of loan\nFeb 2, 2022', '€6.35m',
       'End of loan\nMay 24, 2015', 'End of loan\nMay 31, 2014', '€5.42m',
       'Loan fee:\n€575k', 'End of loan\nNov 12, 2017',
       'Loan fee:\n€1.58m', 'End of loan\nJan 21, 2021',
       'End of loan\nMar 23, 2015', 'End of loan\nJan 18, 2015',
       'End of loan\nApr 6, 2015', 'End of loan\nDec 6, 2014',
       'End of loan\nFeb 22, 2015', 'End of loan\nDec 16, 2014',
       'End of loan\nAug 18, 2014', 'End of loan\nAug 29, 2014', '€7.90m',
       'End of loan\nFeb 14, 2016', '€1.12m', '€29.30m', '€7.30m',
       '€4.25m', '€10.20m', '€5.57m', 'Loan fee:\n€865k',
       'End of loan\nJan 16, 2019', '€7.75m', '€16.20m',
       'Loan fee:\n€4.40m', 'End of loan\nJun 11, 2020', '€23.10m',
       '€1.60m', 'End of loan\nJan 28, 2021', 'Loan fee:\n€5.20m',
       '€235k', '€42.95m', '€38.60m', '€20.70m', '€10.65m', '€3.75m',
       '€43.00m', '€34.80m', '€1.76m', '€25.60m', 'Loan fee:\n€6.00m',
       '€1.16m', 'End of loan\nMay 5, 2019', 'End of loan\nJul 13, 2018',
       'End of loan\nJan 6, 2019', 'End of loan\nJan 19, 2019',
       'End of loan\nJan 4, 2019', 'End of loan\nDec 7, 2018',
       'Loan fee:\n€5.90m', '€19.60m', 'End of loan\nJan 17, 2020',

In [ ]:
# Create "is_loan" category to mark records as loans or not loans

uncleaned_df['is_loan'] = np.where(uncleaned_df['Fee'].str.find('loan transfer') >= 0, 1, 0)

In [951]:
uncleaned_df[['Fee', 'is_loan']]

                Fee  is_loan
0           €11.30m        0
1           €10.00m        0
2            €5.40m        0
3            €4.30m        0
4     free transfer        0
...             ...      ...
8006  loan transfer        1
8007  loan transfer        1
8008  loan transfer        1
8009  loan transfer        1
8010  loan transfer        1

[8011 rows x 2 columns]

In [952]:
uncleaned_df['is_loan_return'] = np.where(uncleaned_df['Fee'].str.find('End of loan') >= 0, 1, 0)

In [953]:
uncleaned_df[['Fee', 'is_loan_return']]

                Fee  is_loan_return
0           €11.30m               0
1           €10.00m               0
2            €5.40m               0
3            €4.30m               0
4     free transfer               0
...             ...             ...
8006  loan transfer               0
8007  loan transfer               0
8008  loan transfer               0
8009  loan transfer               0
8010  loan transfer               0

[8011 rows x 2 columns]

In [954]:
uncleaned_df['Fee'] = uncleaned_df['Fee'].str.replace('€', '')

In [955]:
uncleaned_df['Fee'] = uncleaned_df['Fee'].str.replace('free transfer', '0')

In [956]:
uncleaned_df['Fee'] = uncleaned_df['Fee'].str.replace('loan transfer', '0')

In [957]:
uncleaned_df['Fee'] = np.where(uncleaned_df['Fee'].str.find('End of loan') >= 0, 0, uncleaned_df['Fee'])

In [958]:
uncleaned_df['Fee'].unique()

array(['11.30m', '10.00m', '5.40m', '4.30m', '0', '-', 0, '?', '13.30m',
       '9.35m', 'Loan fee:\n1.20m', '260k', '650k', '18.00m', '7.00m',
       '6.50m', '3.60m', 'Loan fee:\n2.35m', '2.30m', '12.00m', '3.90m',
       '3.50m', '500k', '290k', '940k', '22.80m', '11.50m', '30.50m',
       '15.00m', '11.40m', '6.80m', '2.00m', '21.20m', '13.60m', '16.50m',
       '16.46m', '14.80m', '4.45m', 'Loan fee:\n2.70m', '22.30m',
       '11.10m', '1.10m', 'Loan fee:\n125k', '11.90m', '22.70m', '22.50m',
       '10.25m', 'Loan fee:\n750k', '26.90m', '25.62m', '23.00m',
       '17.87m', '10.80m', '8.10m', '1.50m', '42.50m', '20.23m', '20.00m',
       '4.00m', '19.00m', '2.80m', '1.90m', '14.00m', '2.50m', '12.50m',
       '45.00m', '41.00m', '3.00m', '5.00m', '53.00m', '38.00m', '18.40m',
       '11.00m', '7.50m', '63.75m', '34.00m', '2.10m', '17.00m', '28.65m',
       '25.00m', '16.00m', '8.00m', '4.40m', '2.20m', 'Loan fee:\n1.00m',
       'Loan fee:\n2.50m', '80.00m', '30.00m', '27.00m', '8.70m', '7.10m',
       '30.40m', '8.20m', 'Loan fee:\n3.10m', '1.00m', '250k',
       'Loan fee:\n8.00m', '50.00m', '26.00m', '6.00m', '17.40m',
       'Loan fee:\n2.00m', '58.50m', '35.00m', '28.00m', '18.60m',
       '17.50m', '29.40m', 'Loan fee:\n1.50m', '1.80m', 'Loan fee:\n500k',
       '52.20m', '5.90m', '3.20m', '24.00m', '19.50m', '116.60m',
       '75.00m', '40.00m', 'Loan fee:\n3.50m', '8.15m', '6.20m', '5.80m',
       'Loan fee:\n1.40m', '1.20m', 'Loan fee:\n1.15m', 'Loan fee:\n300k',
       '2.25m', 'Loan fee:\n600k', '4.20m', '65k', '750k', '700k', '300k',
       '9.00m', '8.50m', '1.40m', '800k', 'Loan fee:\n350k', '46.50m',
       '3.80m', '16.80m', '15.50m', '8.80m', '4.50m', '3.40m', '10.50m',
       'Loan fee:\n400k', '15.75m', '2.77m', '15.80m', '38.40m', '32.00m',
       '117.50m', '31.00m', '29.50m', '13.50m', '55.00m', '33.00m',
       'Loan fee:\n5.00m', '21.55m', '2.90m', '9.40m', '7.60m',
       'Loan fee:\n608k', '15.70m', '14.25m', '26.85m', '13.00m', '600k',
       '400k', '3.55m', '860k', '110k', '1.70m', 'Loan fee:\n220k',
       '22.22m', '15.56m', 'Loan fee:\n4.50m', 'Loan fee:\n700k', '3.30m',
       '11.70m', 'Loan fee:\n2.20m', '28.20m', '17.80m', '11.60m',
       '8.30m', '65.30m', '29.20m', '11.80m', '5.50m', '2.60m', '34.20m',
       '116.00m', '42.00m', '2.75m', '1.35m', '1.30m', '9.15m', '3.10m',
       '630k', '8.60m', '15.10m', '16.40m', '9.10m', '840k', '28.50m',
       '20.40m', '16.90m', '12.20m', '4.75m', 'Loan fee:\n2.30m', '9.30m',
       '17.30m', '16.45m', '13.90m', '7.80m', '2.56m', '11.35m', '3.45m',
       '13.20m', '49.50m', '35.36m', 'Loan fee:\n800k', 'Loan fee:\n250k',
       'Loan fee:\n200k', 'Loan fee:\n7.00m', 'Loan fee:\n1.80m', '1.04m',
       '4.60m', '39.00m', '35.80m', '9.50m', '60.00m', '6.90m', '66.00m',
       '37.90m', '44.70m', 'Loan fee:\n7.80m', '6.30m', '57.00m',
       'Loan fee:\n7.90m', 'Loan fee:\n3.00m', '64.00m',
       'Loan fee:\n18.00m', '120.80m', '9.80m', 'Loan fee:\n650k',
       'Loan fee:\n216k', '50.20m', '14.50m', 'Loan fee:\n1.75m',
       '113.00m', '35.30m', '23.34m', '4.80m', 'Loan fee:\n150k',
       '80.40m', '56.20m', '41.90m', '14.86m', '9.09m', '15.40m',
       'Loan fee:\n7.86m', '121.00m', '70.00m', 'Loan fee:\n11.00m',
       '62.10m', '47.00m', '37.00m', '64.20m', '29.10m', '20.80m',
       '18.90m', '18.50m', 'Loan fee:\n5.80m', 'Loan fee:\n2.80m',
       'Loan fee:\n4.70m', '6.34m', '5.30m', '40k', '1.07m', '1.14m',
       '4.90m', '31.20m', '15.60m', '28.90m', '4.70m', '13.80m', '10.70m',
       'Loan fee:\n375k', '16.30m', '1.18m', '22.60m', '5.46m', '21.10m',
       '17.90m', '55.60m', '49.40m', '84.70m', '280k', '39.20m', '30.25m',
       '20.20m', 'Loan fee:\n2.25m', '27.50m', '24.60m', '22.00m', '270k',
       '2.23m', '23.50m', '39.87m', '10.40m', '58.00m', '45.60m',
       '25.70m', '24.85m', '24.70m', '16.85m', '6.70m', '850k', '1.65m',
       '24.90m', '6.40m', '870k', '52.60m', '2.70m', '455k', '12.35m',
       '11.20m', '330k', '3.96m', '3.15m', '1.95m', '257k', '14.90m',
       '4.10m', '200k', 'Loan fee:\n1.30m', '21.00m', '17.70m', '12.80m',
       '2.40m', '32.84m', '49.00m', 'Loan fee:\n4.80m', '40.50m',
       'Loan fee:\n1.25m', '10.10m', '1.26m', '5.60m', '6.60m', '5.10m',
       '1.15m', '17.60m', '27.70m', '20.50m', '13.70m', '145k', '67.80m',
       '33.40m', '19.20m', '87.00m', '20.90m', '1.57m', '25.30m',
       '12.63m', '81.72m', '1.25m', '63.70m', '41.20m', '480k',
       'Loan fee:\n6.50m', '5.70m', '84.65m', '135.00m', '62.50m',
       '14.70m', '1.52m', 'Loan fee:\n1.10m', '25.10m', '7.20m', '1.85m',
       '8.55m', '54.00m', 'Loan fee:\n2.10m', '85.00m', '46.70m', '5.85m',
       '32.30m', '76.00m', '44.50m', '550k', 'Loan fee:\n4.00m',
       'Loan fee:\n436k', '320k', '52.00m', '57.50m', '52.70m', '65.00m',
       '890k', '6.82m', '71.60m', '45.30m', '33.50m', '21.40m', '8.77m',
       '90.00m', '62.00m', '37.50m', '36.00m', 'Loan fee:\n7.60m',
       '1.75m', '63.00m', '1.67m', '105.00m', '5.25m', '59.00m', '7.35m',
       '74.00m', '2.48m', 'Loan fee:\n12.00m', '8.65m', '21.30m',
       '95.00m', '70.65m', '57.37m', 'Loan fee:\n2.96m', '73.90m',
       'Loan fee:\n10.00m', '9.74m', '8.25m', '5.20m', '6.32m',
       'Loan fee:\n1.26m', 'Loan fee:\n160k', '100k', '18.35m', '360k',
       '3.70m', '120k', '4.66m', 'Loan fee:\n900k', '390k', '43.50m',
       '2.24m', '22.25m', '780k', '42.10m', 'Loan fee:\n157k', '58.90m',
       '44.00m', '37.20m', '27.20m', '9.90m', '140k', '2.95m', '2.65m',
       '830k', '335k', '4.15m', '950k', '12.85m', '6.65m', '420k',
       'Loan fee:\n11.70m', '68k', '10.75m', '7.57m', '19.10m', '150k',
       '3.85m', 'Loan fee:\n1.70m', '18.70m', '15.25m', '14.40m', '9.20m',
       '17.25m', '7.95m', '16.70m', '16.60m', '26.20m', '22.26m',
       '13.65m', '5.75m', '24.25m', '3.62m', '295k', '19.40m', '7.70m',
       '3.12m', '3.25m', '2.85m', '900k', '4.72m', '1.89m', '12.65m',
       '350k', '210k', '705k', 'Loan fee:\n100k', '24.10m',
       'Loan fee:\n8.50m', '285k', '6.63m', '14.10m', '8.90m', '15.20m',
       '28.40m', 'Loan fee:\n16.00m', '12.10m', 'Loan fee:\n1.42m',
       '31.25m', '46.30m', '8.40m', '4.12m', '430k', '10.60m', '6.95m',
       '23.30m', '12.40m', 'Loan fee:\n240k', '440k', '6.35m', '5.42m',
       'Loan fee:\n575k', 'Loan fee:\n1.58m', '7.90m', '1.12m', '29.30m',
       '7.30m', '4.25m', '10.20m', '5.57m', 'Loan fee:\n865k', '7.75m',
       '16.20m', 'Loan fee:\n4.40m', '23.10m', '1.60m',
       'Loan fee:\n5.20m', '235k', '42.95m', '38.60m', '20.70m', '10.65m',
       '3.75m', '43.00m', '34.80m', '1.76m', '25.60m', 'Loan fee:\n6.00m',
       '1.16m', 'Loan fee:\n5.90m', '19.60m', '789k', '47.40m', '32.60m',
       '24.30m', '57k', '570k'], dtype=object)

In [959]:
uncleaned_df['is_loan'] = np.where(uncleaned_df['Fee'].str.find('Loan fee') >= 0, 1, uncleaned_df['is_loan'])

uncleaned_df.isnull().sum()

Team              0
Season            0
Time              0
Name              0
Status            0
Position          0
Market Value      0
Age               0
Fee               0
is_loan           0
is_loan_return    0
dtype: int64

In [960]:
uncleaned_df['Fee'] = np.where(uncleaned_df['Fee'].str.find('Loan fee') >= 0, uncleaned_df['Fee'].str.replace('Loan fee:\n', ''), uncleaned_df['Fee'])
uncleaned_df.isnull().sum()

Team              0
Season            0
Time              0
Name              0
Status            0
Position          0
Market Value      0
Age               0
Fee               0
is_loan           0
is_loan_return    0
dtype: int64

In [961]:
uncleaned_df['Fee'].unique()

array(['11.30m', '10.00m', '5.40m', '4.30m', '0', '-', 0, '?', '13.30m',
       '9.35m', '1.20m', '260k', '650k', '18.00m', '7.00m', '6.50m',
       '3.60m', '2.35m', '2.30m', '12.00m', '3.90m', '3.50m', '500k',
       '290k', '940k', '22.80m', '11.50m', '30.50m', '15.00m', '11.40m',
       '6.80m', '2.00m', '21.20m', '13.60m', '16.50m', '16.46m', '14.80m',
       '4.45m', '2.70m', '22.30m', '11.10m', '1.10m', '125k', '11.90m',
       '22.70m', '22.50m', '10.25m', '750k', '26.90m', '25.62m', '23.00m',
       '17.87m', '10.80m', '8.10m', '1.50m', '42.50m', '20.23m', '20.00m',
       '4.00m', '19.00m', '2.80m', '1.90m', '14.00m', '2.50m', '12.50m',
       '45.00m', '41.00m', '3.00m', '5.00m', '53.00m', '38.00m', '18.40m',
       '11.00m', '7.50m', '63.75m', '34.00m', '2.10m', '17.00m', '28.65m',
       '25.00m', '16.00m', '8.00m', '4.40m', '2.20m', '1.00m', '80.00m',
       '30.00m', '27.00m', '8.70m', '7.10m', '30.40m', '8.20m', '3.10m',
       '250k', '50.00m', '26.00m', '6.00m', '17.40m', '58.50m', '35.00m',
       '28.00m', '18.60m', '17.50m', '29.40m', '1.80m', '52.20m', '5.90m',
       '3.20m', '24.00m', '19.50m', '116.60m', '75.00m', '40.00m',
       '8.15m', '6.20m', '5.80m', '1.40m', '1.15m', '300k', '2.25m',
       '600k', '4.20m', '65k', '700k', '9.00m', '8.50m', '800k', '350k',
       '46.50m', '3.80m', '16.80m', '15.50m', '8.80m', '4.50m', '3.40m',
       '10.50m', '400k', '15.75m', '2.77m', '15.80m', '38.40m', '32.00m',
       '117.50m', '31.00m', '29.50m', '13.50m', '55.00m', '33.00m',
       '21.55m', '2.90m', '9.40m', '7.60m', '608k', '15.70m', '14.25m',
       '26.85m', '13.00m', '3.55m', '860k', '110k', '1.70m', '220k',
       '22.22m', '15.56m', '3.30m', '11.70m', '28.20m', '17.80m',
       '11.60m', '8.30m', '65.30m', '29.20m', '11.80m', '5.50m', '2.60m',
       '34.20m', '116.00m', '42.00m', '2.75m', '1.35m', '1.30m', '9.15m',
       '630k', '8.60m', '15.10m', '16.40m', '9.10m', '840k', '28.50m',
       '20.40m', '16.90m', '12.20m', '4.75m', '9.30m', '17.30m', '16.45m',
       '13.90m', '7.80m', '2.56m', '11.35m', '3.45m', '13.20m', '49.50m',
       '35.36m', '200k', '1.04m', '4.60m', '39.00m', '35.80m', '9.50m',
       '60.00m', '6.90m', '66.00m', '37.90m', '44.70m', '6.30m', '57.00m',
       '7.90m', '64.00m', '120.80m', '9.80m', '216k', '50.20m', '14.50m',
       '1.75m', '113.00m', '35.30m', '23.34m', '4.80m', '150k', '80.40m',
       '56.20m', '41.90m', '14.86m', '9.09m', '15.40m', '7.86m',
       '121.00m', '70.00m', '62.10m', '47.00m', '37.00m', '64.20m',
       '29.10m', '20.80m', '18.90m', '18.50m', '4.70m', '6.34m', '5.30m',
       '40k', '1.07m', '1.14m', '4.90m', '31.20m', '15.60m', '28.90m',
       '13.80m', '10.70m', '375k', '16.30m', '1.18m', '22.60m', '5.46m',
       '21.10m', '17.90m', '55.60m', '49.40m', '84.70m', '280k', '39.20m',
       '30.25m', '20.20m', '27.50m', '24.60m', '22.00m', '270k', '2.23m',
       '23.50m', '39.87m', '10.40m', '58.00m', '45.60m', '25.70m',
       '24.85m', '24.70m', '16.85m', '6.70m', '850k', '1.65m', '24.90m',
       '6.40m', '870k', '52.60m', '455k', '12.35m', '11.20m', '330k',
       '3.96m', '3.15m', '1.95m', '257k', '14.90m', '4.10m', '21.00m',
       '17.70m', '12.80m', '2.40m', '32.84m', '49.00m', '40.50m', '1.25m',
       '10.10m', '1.26m', '5.60m', '6.60m', '5.10m', '17.60m', '27.70m',
       '20.50m', '13.70m', '145k', '67.80m', '33.40m', '19.20m', '87.00m',
       '20.90m', '1.57m', '25.30m', '12.63m', '81.72m', '63.70m',
       '41.20m', '480k', '5.70m', '84.65m', '135.00m', '62.50m', '14.70m',
       '1.52m', '25.10m', '7.20m', '1.85m', '8.55m', '54.00m', '85.00m',
       '46.70m', '5.85m', '32.30m', '76.00m', '44.50m', '550k', '436k',
       '320k', '52.00m', '57.50m', '52.70m', '65.00m', '890k', '6.82m',
       '71.60m', '45.30m', '33.50m', '21.40m', '8.77m', '90.00m',
       '62.00m', '37.50m', '36.00m', '63.00m', '1.67m', '105.00m',
       '5.25m', '59.00m', '7.35m', '74.00m', '2.48m', '8.65m', '21.30m',
       '95.00m', '70.65m', '57.37m', '2.96m', '73.90m', '9.74m', '8.25m',
       '5.20m', '6.32m', '160k', '100k', '18.35m', '360k', '3.70m',
       '120k', '4.66m', '900k', '390k', '43.50m', '2.24m', '22.25m',
       '780k', '42.10m', '157k', '58.90m', '44.00m', '37.20m', '27.20m',
       '9.90m', '140k', '2.95m', '2.65m', '830k', '335k', '4.15m', '950k',
       '12.85m', '6.65m', '420k', '68k', '10.75m', '7.57m', '19.10m',
       '3.85m', '18.70m', '15.25m', '14.40m', '9.20m', '17.25m', '7.95m',
       '16.70m', '16.60m', '26.20m', '22.26m', '13.65m', '5.75m',
       '24.25m', '3.62m', '295k', '19.40m', '7.70m', '3.12m', '3.25m',
       '2.85m', '4.72m', '1.89m', '12.65m', '210k', '705k', '24.10m',
       '285k', '6.63m', '14.10m', '8.90m', '15.20m', '28.40m', '12.10m',
       '1.42m', '31.25m', '46.30m', '8.40m', '4.12m', '430k', '10.60m',
       '6.95m', '23.30m', '12.40m', '240k', '440k', '6.35m', '5.42m',
       '575k', '1.58m', '1.12m', '29.30m', '7.30m', '4.25m', '10.20m',
       '5.57m', '865k', '7.75m', '16.20m', '23.10m', '1.60m', '235k',
       '42.95m', '38.60m', '20.70m', '10.65m', '3.75m', '43.00m',
       '34.80m', '1.76m', '25.60m', '1.16m', '19.60m', '789k', '47.40m',
       '32.60m', '24.30m', '57k', '570k'], dtype=object)

In [ ]:
# Replace unknown "Fee" values with 0
uncleaned_df['Fee'] = np.where(uncleaned_df['Fee'].str.find('-') >= 0, uncleaned_df['Fee'].str.replace('-', '0'), uncleaned_df['Fee'])
uncleaned_df['Fee'] = np.where(uncleaned_df['Fee'].str.find('?') >= 0, uncleaned_df['Fee'].str.replace('?', '0'), uncleaned_df['Fee'])

In [ ]:
# Replace strings with numeric values and 'm' or 'k' with floats in millions or thousands
uncleaned_df.loc[uncleaned_df['Fee'].str.find('m') >= 1, 'Fee'] = uncleaned_df[uncleaned_df['Fee'].str.find('m') >= 1]['Fee'].str.replace('m', '').astype(float) * 1000000
uncleaned_df.loc[uncleaned_df['Fee'].str.find('k') >= 1, 'Fee'] = uncleaned_df[uncleaned_df['Fee'].str.find('k') >= 1]['Fee'].str.replace('k', '').astype(float) * 1000

In [964]:
uncleaned_df['Fee'] = uncleaned_df['Fee'].astype(float)

In [965]:
uncleaned_df.isnull().sum()

Team              0
Season            0
Time              0
Name              0
Status            0
Position          0
Market Value      0
Age               0
Fee               0
is_loan           0
is_loan_return    0
dtype: int64

In [966]:
uncleaned_df.head()

,Team,Season,Time,Name,Status,Position,Market Value,Age,Fee,is_loan,is_loan_return
0,AFC Bournemouth,2015/2016,SUMMER,Tyrone Mings,In,Centre-Back,6000000.0,22,11300000.0,0,0
1,AFC Bournemouth,2015/2016,SUMMER,Max Gradel,In,Left Winger,6500000.0,27,10000000.0,0,0
2,AFC Bournemouth,2015/2016,SUMMER,Glenn Murray,In,Centre-Forward,2500000.0,31,5400000.0,0,0
3,AFC Bournemouth,2015/2016,SUMMER,Lee Tomlin,In,Second Striker,1750000.0,26,4300000.0,0,0
4,AFC Bournemouth,2015/2016,SUMMER,Artur Boruc,In,Goalkeeper,1000000.0,35,0.0,0,0

In [967]:
uncleaned_df['Season'].unique()

array(['2015/2016', '2016/2017', '2017/2018', '2018/2019', '2019/2020',
       '2022/2023', '2023/2024', '2014/2015', '2020/2021', '2021/2022'],
      dtype=object)

In [ ]:
#Standardize seasons into YYYY_start/YYYY_end format
uncleaned_df['Season'] = uncleaned_df['Season'].str.replace('19/20', '2019/2020')
uncleaned_df['Season'] = uncleaned_df['Season'].str.replace('20/21', '2020/2021')
uncleaned_df['Season'] = uncleaned_df['Season'].str.replace('21/22', '2021/2022')
uncleaned_df['Season'] = uncleaned_df['Season'].str.replace('22/23', '2022/2023')
uncleaned_df['Season'] = uncleaned_df['Season'].str.replace('23/24', '2023/2024')
uncleaned_df['Season'] = uncleaned_df['Season'].str.replace('18/19', '2018/2019')
uncleaned_df['Season'] = uncleaned_df['Season'].str.replace('202019/202020', '2019/2020')
uncleaned_df.isnull().sum()

Team              0
Season            0
Time              0
Name              0
Status            0
Position          0
Market Value      0
Age               0
Fee               0
is_loan           0
is_loan_return    0
dtype: int64

In [ ]:
# Clean up team values with duplicate "FC"
uncleaned_df['Team'] = uncleaned_df['Team'].str.replace('FC FC', 'FC')
uncleaned_df.to_csv('pl_transfers_2014_2024_cleaned.csv')

In [970]:
uncleaned_match_stats_df = pd.read_csv('pl_match_stats_2014_2024.csv')

In [971]:
uncleaned_match_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3800 entries, 0 to 3799
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            3800 non-null   object
 1   season          3800 non-null   object
 2   home_team_name  3800 non-null   object
 3   away_team_name  3800 non-null   object
 4   home_goals      3800 non-null   int64
 5   away_goals      3800 non-null   int64
 6   result          3800 non-null   object
dtypes: int64(2), object(5)
memory usage: 207.9+ KB

In [972]:
uncleaned_match_stats_df.rename(columns = {'date' : 'Date', 'season' : 'Season', 'home_team_name' : 'Home Team', 'away_team_name' : 'Away Team', 'home_goals' : 'Home Goals', 'away_goals' : 'Away Goals', 'result' : 'Result'}, inplace = True)

In [973]:
uncleaned_match_stats_df.to_csv('pl_match_stats_2014_2024_cleaned.csv')